*.o
basename
cat
chgrp
chmod
chown
chroot
clear
colormake
column
command-not-found
cp
date
df
dirname
du
echo
env
expr
false
find
getconf
getty
halt
head
help
id
kernelinfo
kill
ln
logname
ls
memstat
mkdir
mktemp
mv
nc
nl
pager
passwd
poweroff
ps
pstree
pwd
readlink
realpath
reboot
rm
rmdir
shutdown
sleep
sort
stat
stty
tail
tee
time
timeout
touch
tr
true
tty
uname
uniq
unmount
uptime
wall
wc
which
xinstall
yes
